{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <h2>Feedback</h2>
    <p>This feedback is logged on the <a href="https://github.com/finnito/adventure-log/issues">GitHub Issues page</a>.</p>
    
    {% set form = form('FeedbackFormBuilder').get() %}
    {{ form.open|raw }}
        {{ form.fields.title.setAttributes({'autofocus': "true"})|raw }}
        {{ form.fields.description|raw }}
        {{ form.fields.honeypot|raw }}
        {{ form.actions|raw }}
    {{ form.close|raw }}

    <script>
    (function (window, document) {
        document.querySelector("select[name='related_hut']").value = {{ hut.id }};
        var date = new Date();
        dateString = date.getFullYear()
            + "-"
            + ("0" + (date.getMonth() + 1)).slice(-2)
            + "-"
            + ("0" + date.getDate()).slice(-2);
        document.querySelector("input[name='log_date']").value = dateString;
    })(window, document);
    </script>
{% endblock %}
