{% htmlcompress %}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ config('app.locale') }}">

    <head>
        {% include "theme::partials/metadata" %}
    </head>

    <body>

    {% include "theme::partials/header" %}

    <main id="main">

        {% include "theme::partials/messages" %}
        <div class="flex">
            <h2>{{ hut.name }}</h2>
            <span><small><a class="flag" href="/places/{{ hut.place_slug }}/">{{ hut.place }}</a></small></span>
        </div>
        <ul>
            <li><a href="{{ hut.static_link }}">View on DOC</a></li>
            <li><a href="http://www.topomap.co.nz/NZTopoMap?v=2&ll={{hut.latitude}},{{hut.longitude}}&z=14">View on TopoMap: {{ hut.latitude }}, {{ hut.longitude }}</a></li>
            <li><a href="feed.xml" class="button good">Subscribe to Hut Logs (RSS)</a></li>
        </ul>

        <h3 id="make-a-log">
            Make a Log
            <a href="#make-a-log" class="heading-anchor"><sup>🔗</sup></a>
        </h3>
        {{ 
            form('LogFormBuilder')
        }}

        <h3 id="previous-logs">
            Previous Logs
            <a href="#previous-logs" class="heading-anchor"><sup>🔗</sup></a>
        </h3>
        {% if logs|length == 0 %}
            <p>No logs yet. Be the first?</p>
        {% else %}
            <ul class="logs">
            {% for log in logs %}
                <li id="log-{{ log.id }}">
                    <p class="flex">
                        <span class="strong"><a class="heading-anchor" href="#log-{{ log.id }}">🔗</a>{{ log.log_date.format('D d F, Y') }}</span>
                        <span>{{ log.name }}</span>
                    </p>
                    <p class="flex">
                        <span>{{ log.log }}</span>
                        <span><a class="flag" href="/flag/log/{{ log.id }}">🔸 Flag as Spam</a></span>
                    </p>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>

    <script>
    (function (window, document) {
        document.querySelector("select[name='related_hut']").value = {{ hut.id }};
        var date = new Date();
        dateString = date.getFullYear()
            + "-"
            + ("0" + (date.getMonth() + 1)).slice(-2)
            + "-"
            + ("0" + date.getDate()).slice(-2);
        document.querySelector("input[name='log_date']").value = dateString.trim();

        document.querySelector("input[name='log_date']").classList.add("valid");

        document.querySelector("input[name='log_date']").addEventListener("input", function() {
            const regex = /[0-9]{4}-[0-9]{2}-[0-9]{2}/gm;
            if (event.target.value.match(regex)) {
                event.target.classList.add("valid");
                event.target.classList.remove("invalid");
            } else {
                event.target.classList.add("invalid");
                event.target.classList.remove("valid");
            }
        });
    })(window, document);
    </script>

    {% include "theme::partials/footer" %}
    {% include "theme::partials/assets" %}

    </body>
</html>
{% endhtmlcompress %}
