{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <div class="flex">
        <h2>{{ hut.name }}</h2>
        <span><small><a class="flag" href="/places/{{ hut.place_slug }}/">{{ hut.place }}</a></small></span>
    </div>
    <ul class="buttons">
        <li><a href="{{ hut.static_link }}" class="button alert">View on DOC</a></li>
        <li><a href="http://www.topomap.co.nz/NZTopoMap?v=2&ll={{hut.latitude}},{{hut.longitude}}&z=14" class="button alert success">View on TopoMap</a></li>
        <li><a href="{{ url_current() }}/feed.xml" class="button alert warning">RSS Feed</a></li>
    </ul>

    <h3 id="make-a-log">
        Make a Log
        <a href="#make-a-log" class="heading-anchor" title="Permalink to this element"><sup>⚓️</sup></a>
    </h3>

    {% set form = form('LogFormBuilder').get() %}
    {{ form.open|raw }}
        {{ form.fields.log_date|raw }}
        {{ form.fields.log.setAttributes({'autofocus': "true"})|raw }}
        {{ form.fields.name|raw }}
        {{ form.fields.honeypot|raw }}
        <input name="related_hut" type="text" class="winnie-the-pooh" value="{{ hut.id }}"/>
        {{ form.actions|raw }}
    {{ form.close|raw }}

    <h3 id="previous-logs">
        Previous Logs
        <a href="#previous-logs" class="heading-anchor" title="Permalink to this element"><sup>⚓️</sup></a>
    </h3>
    {% if hut.logs|length == 0 %}
        <p>No logs yet. Be the first?</p>
    {% else %}
        <ul class="logs">
        {% for log in hut.logs %}
            <li id="log-{{ log.id }}">
                <div class="flex">
                    <span class="strong"><a class="heading-anchor" href="#log-{{ log.id }}" title="Permalink to this element">⚓️</a>{{ log.log_date.format('D d F, Y') }}</span>
                    <span class="muted">{{ log.name }}</span>
                </div>
                <p>
                    <span>{{ log.log }}</span>
                    <br/>
                    <span class="muted"><a class="flag" href="/flag/log/{{ log.id }}">🔸 Flag as Spam</a></span>
                </p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <script>
    window.addEventListener("DOMContentLoaded", function() {
        var date = new Date();
        dateString = date.getFullYear()
            + "-"
            + ("0" + (date.getMonth() + 1)).slice(-2)
            + "-"
            + ("0" + date.getDate()).slice(-2);
        document.querySelector("input[name='log_date']").value = dateString.trim();
        document.querySelector("input[name='log_date']").classList.add("valid");
        document.querySelector("input[name='log_date']").addEventListener("input", function() {
            const regex = /[0-9]{4}-[0-9]{2}-[0-9]{2}/gm;
            if (event.target.value.match(regex)) {
                event.target.classList.add("valid");
                event.target.classList.remove("invalid");
                document.querySelector("button.btn-success[type='submit']").removeAttribute("disabled", "true");

            } else {
                event.target.classList.add("invalid");
                event.target.classList.remove("valid");
                document.querySelector("button.btn-success[type='submit']").setAttribute("disabled", "true");
            }
        });
    });
    </script>
{% endblock %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="{{ hut.name }} | AdventureLog NZ" href="{{ url_current() }}/feed.xml" />
{% endblock %}

{% block footer %}
<script>
    (function (window, document) {
    document.querySelector("input[name='q']").value = "{{ query }}";
    var hut = JSON.parse(`{{ hut|raw }}`);
    L.circleMarker([hut.latitude, hut.longitude], markerOptions)
        .addTo(places);
    HutMap.fitBounds(places.getBounds());
})(window, document);
</script>
{% endblock %}
