{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <h2>{{ huts|length }} Location{% if (huts|length > 1) or (huts|length == 0) %}s{% endif %} in {{ place }}</h2>
    <p><a href="{{ url_current() }}/feed.xml" class="button good">Subscribe to Logs in This Area (RSS)</a></p>
    <ul>
    {% for hut in huts %}
        <li>{% if hut.place_type == "hut" %}🏡{% else %}🏕{% endif %} <a href="/places/{{ hut.place_slug }}/{{ hut.name_slug }}">{{ hut.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="{{ place }} | AdventureLog NZ" href="{{ url_current() }}/feed.xml" />
{% endblock %}

{% block footer %}
<script>
    (function (window, document) {
    document.querySelector("input[name='q']").value = "{{ query }}";
    var huts = JSON.parse(`{{ huts|raw }}`);;
    for (const [key, place] of Object.entries(huts)) {
        if (place.place_type !== "place") {
            L.circleMarker([place.latitude, place.longitude], markerOptions)
            .bindPopup(
                "<p><a href='/places/" + place.place_slug + "/" + place.name_slug + "/'>"
                + place.name
                +"<br>"
                + place.latitude + ", " + place.longitude
                +"</a><br>"
                + "<button onclick='zoomTo(" + place.latitude + ", " + place.longitude + ")'>Zoom To</button>"
                + "</p>")
            .addTo(places);
        }
    }
    HutMap.fitBounds(places.getBounds());
})(window, document);
</script>
{% endblock %}
