{% htmlcompress %}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ config('app.locale') }}">

    <head>
        {% include "theme::partials/metadata" %}
    </head>

    <body>

    {% include "theme::partials/header" %}

    <main id="main">

        {% include "theme::partials/messages" %}

        <h2>{{ results|length }} result{% if (results|length > 1) or (results|length == 0) %}s{% endif %} for <em>"{{ query }}"</em></h2>
        {% if results|length > 0 %}
        <ul class="results">
        {% for result in results %}
            <li>
                <a href="/places/{{ result.place_slug }}/{{ result.name_slug }}/">
                    {{ result.name }} <small>> {{ result.place }}</small>
                </a>
                
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </main>

    <script>
        (function (window, document) {
        document.querySelector("input[name='q']").value = "{{ query }}";
    })(window, document);
    </script>

    {% include "theme::partials/footer" %}
    {% include "theme::partials/assets" %}

    </body>
</html>
{% endhtmlcompress %}
