
        <h2>{{ resultCount }} result{% if (resultCount > 1) or (resultCount == 0) %}s{% endif %} for <em>"{{ query }}"</em></h2>
        {% if resultCount > 0 %}
        <ul class="results">
        {% for result in results %}
            <li>
                <a href="/places/{{ result.place_slug }}/{{ result.name_slug }}/">
                    🏡 {{ result.name }} <small>> {{ result.place }}</small>
                </a>
                
            </li>
        {% endfor %}
        {% for result in placeResults %}
            <li>
                <a href="/places/{{ result.place_slug }}/">
                    🧭 {{ result.place }} <small>> {{ result.region }}</small>
                </a>
                
            </li>
        {% endfor %}
        </ul>
{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
        {% endif %}
    </main>

    <script>
        (function (window, document) {
        document.querySelector("input[name='q']").value = "{{ query }}";
    })(window, document);
    </script>
{% endblock %}
