{% extends "finnito.theme.adventurelog::layouts.default" %}
{% block content %}
    <h2>{{ results|length }} result{% if (results|length > 1) or (results|length == 0) %}s{% endif %} for <em>"{{ query }}"</em></h2>
    {% if results|length > 0 %}
    <ul class="results">
    {% for result in results %}
        {% if result.place_type == "hut" %}
        <li>
            <a href="/places/{{ result.place_slug }}/{{ result.name_slug }}/">
                🏡 {{ result.name }} <small>> {{ result.place }}</small>
            </a>
        </li>
        {% elseif result.place_type == "campsite" %}
        <li>
            <a href="/places/{{ result.place_slug }}/{{ result.name_slug }}/">
                🏕 {{ result.name }} <small>> {{ result.place }}</small>
            </a>
        </li>
        {% elseif result.place_type == "place" %}
        <li>
            <a href="/places/{{ result.place_slug }}/">
                🧭 {{ result.place }} <small>> {{ result.region }}</small>
            </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block footer %}
<script>
    (function (window, document) {
    document.querySelector("input[name='q']").value = "{{ query }}";
    var res = JSON.parse(`{{ results|raw }}`);

    for (const [key, place] of Object.entries(res)) {
        if (place.place_type == "place") { continue; }
        let marker = L.circleMarker([place.latitude, place.longitude], markerOptions)
        .bindPopup(
            "<p><a href='/places/" + place.place_slug + "/" + place.name_slug + "/'>"
            + place.name + " - " + place.place
            +"<br>"
            + place.latitude + ", " + place.longitude
            +"</a><br>"
            + "<button onclick='zoomTo(" + place.latitude + ", " + place.longitude + ")'>Zoom To</button>"
            + "</p>");

        marker.addTo(places);
    }
    HutMap.fitBounds(places.getBounds());
})(window, document);
</script>
{% endblock %}
